_AIRFLOW_WWW_USER_USERNAME={{ airflow.username }}
_AIRFLOW_WWW_USER_PASSWORD={{ airflow.password }}
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__CORE__TEST_CONNECTION=Enabled

ATLAS_HOST=atlas.internal
ATLAS_PORT=21000
ATLAS_USER=atlas
ATLAS_PASS=atlas
