AIRFLOW_UID={{ airflow_uid }}
_AIRFLOW_WWW_USER_USERNAME={{ airflow.username }}
_AIRFLOW_WWW_USER_PASSWORD='{{ airflow.password }}'
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__CORE__TEST_CONNECTION=Enabled

ATLAS_HOST=atlas.internal
ATLAS_PORT=21000
ATLAS_USER=atlas
ATLAS_PASS='{{ atlas.password }}'

MSSQL_HOST=192.168.0.58
MSSQL_PORT=1433
MSSQL_USERNAME=u_coretech
MSSQL_PASSWORD='{{ mssql.password }}'
MSSQL_DB=DataLake

CLICKHOUSE_DB_HOST="{{ clickhouse.host }}"
CLICKHOUSE_DB_PORT="8123"
CLICKHOUSE_DB_USER="default"
CLICKHOUSE_DB_PASSWORD='{{ clickhouse.password }}'
CLICKHOUSE_DB_NAME="datalake"
